:root {
    
    --background-light: #fefefed7;
    --background-dark: #1e1e1e;
    
    --color-light: black;
    --color-dark: white;
    --accent-color-light: #10B981;
    
    --accent-color-dark: #34D399;
    
    --button-background-light: #ffffff00;
    --button-background-dark: #333;
    --button-border-light: #15b680d4;
    --button-border-dark: #15b680d4;
    --input-field-border-dark: rgba(255, 255, 255, 0.329);
    --input-field-border-light: rgba(11, 11, 11, 0.457);
    --shadow-light: 0px 4px 6px rgba(0, 0, 0, 0.2);
    --shadow-dark: 0px 4px 8px rgba(0, 0, 0, 0.5);
    --checkbox-border-dark: rgba(255, 255, 255, 0.5);
    --checkbox-border-light: rgba(52, 48, 48, 0.5);
    --text-color-light: black;
    --text-color-dark: white;
    --site-item-background-light: #f9f9f9;
    
    --site-item-background-dark: #2a2a2a;
    
}


body.light {
    --background: var(--background-light);
    --color: var(--color-light);
    --accent-color: var(--accent-color-light);
    --button-background: var(--button-background-light);
    --button-border: var(--button-border-light);
    --shadow: var(--shadow-light);
    --input-field-border: var(--input-field-border-light);
    --checkbox-border: var(--checkbox-border-light);
    --text-color: var(--text-color-light);
    --site-item-background: var(--site-item-background-light);
}


body.dark {
    --background: var(--background-dark);
    --color: var(--color-dark);
    --accent-color: var(--accent-color-dark);
    --button-background: var(--button-background-dark);
    --button-border: var(--button-border-dark);
    --shadow: var(--shadow-dark);
    --input-field-border: var(--input-field-border-dark);
    --checkbox-border: var(--checkbox-border-dark);
    --text-color: var(--text-color-dark);
    --site-item-background: var(--site-item-background-dark);
}


body {
    margin: 0;
    
    padding: 0;
    
    background-color: var(--background);
    
    color: var(--color);
    
    font-family: sans-serif;
    
    min-width: 400px;
    
    min-height: 250px;
    
    overflow-x: hidden;
    
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);

}

body::-webkit-scrollbar {

    width: 8px;
}

body::-webkit-scrollbar-track {
    background: var(--background);
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 4px;
    border: 2px solid var(--background);
}

